<div class="container">
	<div class="col-sm-offset-1 col-sm-10 text-center">
			<%= link_to "Gestionar Publicidad", { :controller => "publicidads", :action => "index"}, :class => "btn btn-primary" %>
		</div>

		<br><br><br>

		<div class="col-sm-offset-1 col-sm-10 text-center">
			<%= link_to "Registrar Publicidad", { :controller => "publicidads", :action => "new"}, :class => "btn btn-primary" %>
		</div>

</div>

